certifi==2025.6.15
charset-normalizer==3.4.2
docutils==0.21.2
ffpyplayer==4.5.3
filetype==1.2.0
idna==3.10
Kivy==2.3.1
Kivy-Garden==0.1.5
mecab==0.996.11
mozcpy==0.2
pygame==2.6.1
Pygments==2.19.2
requests==2.32.4
urllib3==2.5.0

# After pip install, run:
# sudo apt-get install mecab libmecab-dev mecab-ipadic-utf8
